<settings>
	<profiles>
		<profile>
			<id>redhat-ga-repository</id>
			<repositories>
				<repository>
					<id>jboss-ga-repository</id>
					<url>https://maven.repository.redhat.com/ga/</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</repository>
			</repositories>
			<pluginRepositories>
				<pluginRepository>
					<id>jboss-ga-plugin-repository</id>
					<url>https://maven.repository.redhat.com/ga/</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</pluginRepository>
			</pluginRepositories>
		</profile>
		<profile>
			<id>redhat-ea-repository</id>
			<repositories>
				<repository>
					<id>redhat-ea-repository</id>
					<url>https://maven.repository.redhat.com/earlyaccess/all/</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</repository>
			</repositories>
			<pluginRepositories>
				<pluginRepository>
					<id>redhat-ea-plugin-repository</id>
					<url>https://maven.repository.redhat.com/earlyaccess/all/</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</pluginRepository>
			</pluginRepositories>
		</profile>

		<profile>
			<id>jboss-ea-repository</id>
			<repositories>
				<repository>
					<id>jboss-ea-repository-group</id>
					<name>JBoss Early Access Maven Repository Group</name>
					<url>http://repository.jboss.org/nexus/content/groups/ea</url>
					<releases>
						<enabled>true</enabled>
						<updatePolicy>never</updatePolicy>
					</releases>
					<snapshots>
						<enabled>true</enabled>
						<updatePolicy>never</updatePolicy>
					</snapshots>
				</repository>
			</repositories>
			<pluginRepositories>
				<pluginRepository>
					<id>jboss-ea-repository-group</id>
					<name>JBoss Early Access Maven Repository Group</name>
					<url>http://repository.jboss.org/nexus/content/groups/ea</url>
					<releases>
						<enabled>true</enabled>
						<updatePolicy>never</updatePolicy>
					</releases>
					<snapshots>
						<enabled>true</enabled>
						<updatePolicy>never</updatePolicy>
					</snapshots>
				</pluginRepository>
			</pluginRepositories>
		</profile>

		<profile>
			<id>fuse-origin-ea</id>
			<repositories>
				<repository>
					<id>fuse-origin-ea-repository</id>
					<url>http://origin-repository.jboss.org/nexus/content/groups/ea/</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</repository>
			</repositories>
			<pluginRepositories>
				<pluginRepository>
					<id>fuse-origin-ea-repository</id>
					<url>http://origin-repository.jboss.org/nexus/content/groups/ea/</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</pluginRepository>
			</pluginRepositories>
		</profile>

	</profiles>

	<activeProfiles>
		<activeProfile>redhat-ga-repository</activeProfile>
		<activeProfile>redhat-ea-repository</activeProfile>
		<activeProfile>jboss-ea-repository</activeProfile>
		<activeProfile>fuse-origin-ea</activeProfile>
	</activeProfiles>

</settings>
