name: XTF CI - Pull Request check

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:

  test:
    name: Build and CheckStyle
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [ 11, 17, 21 ]
      fail-fast: false

    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java }}
          java-package: jdk
          architecture: x64
          cache: 'maven'
      - name: Check well-formatted code
        run: mvn -B formatter:validate impsort:check
      - name: Maven Package
        run: mvn install -DskipTests=true -Dmaven.javadoc.skip=true -B -V
      - name: Maven Verify
        run: mvn -B clean verify
